<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到 <%= title %></p>
    <form action="" method="post">
      标题: <input type="text" placeholder="输入标题" name="title" style="width:400px;margin-top:10px" />
      <br /><br />
      内容: <textarea name="content" placeholder="输入内容" cols="100" rows="20"></textarea>
    </form>
  </body>
</html>
