<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到 <%= title %></p>
    <!-- <button onclick="location.href='/register'">登陆</button>
    <button>注册</button> -->
    <input type="button" id="login" value="登陆" onclick="location.href='/login'" />
    <input type="button" id="register" value="注册" onclick="location.href='/register'" />
  </body>
</html>
