<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到 <%= title %></p>
    <form action="/users/register" method="post">
        <input type="text" placeholder="姓名" id="reg_name" name="reg_name" />
        <input type="text" placeholder="昵称" id="reg_nickname" name="reg_nickname" />
        <input type="password" placeholder="密码" id="reg_pwd" name="reg_pwd" />
        <input type="password" placeholder="重输密码" id="reg_repwd" name="reg_repwd" />
        <input type="submit" id="reg_submit" name="提交" />
    </form>
  </body>
</html>
