<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到 <%= title %></p>
    <form action="/users/register" method="post">
        <input type="text" placeholder="姓名" id="name" name="name" />
        <input type="text" placeholder="昵称" id="nickname" name="nickname" />
        <input type="password" placeholder="密码" id="pwd" name="pwd" />
        <input type="password" placeholder="重输密码" id="repwd" name="repwd" />
        <input type="submit" id="submit" name="提交" />
    </form>
  </body>
</html>
